/*
  Darkest: 222
  Darker: 444
  Dark: 777
  Light: AAA
*/

.app-body {
  width: 30%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.category-view-header {
  font-size: 2.2rem;
  color: #222;
}

.post-list-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.post-view-body {
  font-size: 1.2rem;
  overflow-wrap: break-word;
  color: #444;
  padding: 10px;
}
.post-view-comment-count {
  margin: 10px;
  color: #444;
}

.post-summary {
  display: flex;
  align-items: center;
  margin: 10px 0; 
  height: 100px;
  width: 100%;
}
.post-summary-details-title {
  color: #444;
  font-size: 1.2rem;
}
.post-summary-details-title-link {
  font-size: 1.2rem;
}
.post-summary-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-summary-details-line1,
.post-summary-details-line2 {
  display: flex;
  justify-content: flex-start;
  margin: 0 -5px;
}
.post-summary-details-edit,
.post-summary-details-delete,
.post-summary-details-author,
.post-summary-details-date,
.post-summary-details-comment-count {
  margin: 0 5px;
}
.post-summary-details-author {
  color: #222;
  font-weight: bold;
}
.post-summary-details-date {
  color: #444;
}
.post-summary-details-comment-count {
  color: #777;
}

.comment-summary {
  display: flex;
  align-items: center;
  margin: 10px 0; 
  width: 100%;
}
.comment-summary-details {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}
.comment-summary-details-line1,
.comment-summary-details-line2 {
  display: flex;
  justify-content: flex-start;
  margin: 0 -5px;
}
.comment-summary-details-author,
.comment-summary-details-date {
  margin: 0 5px;
}
.comment-summary-details-author {
  color: #222;
  font-weight: bold;
}
.comment-summary-details-date {
  color: #444;
}
.comment-summary-details-body {
  padding: 10px 0;
  overflow-wrap: break-word;
  color: #444;
}
.comment-summary-edit-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.vote-control {
  color: #444;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.add-comment-form,
.add-post-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  width: 90%;
}
.add-comment-form-title,
.add-post-form-title {
  color: #444;
  font-size: 1.2rem;
}
.add-post-category-select {
  width: 35%;
}